##########################################################################################
#####################################  SERVER CONFIG  ####################################
##########################################################################################

# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
set steam_webApiKey 7BECC177AE2C766CBF098BCC912BE46B

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey d6qt41kz7zanveob068nhdo7y7u38ora

# DB connection string
set mysql_connection_string "server=127.0.0.1;database=dinastiaproyect;userid=root;password="
set es_enableCustomData 1

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
ensure scoreboard

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu. 1 to allow scripthook.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Hide player endpoints in external log output.
sv_endpointprivacy true

# enable OneSync with default configuration (required for server-side state awareness)
onesync_enabled true

# Server player slot limit (must be between 1 and 32, unless using OneSync)
sv_maxclients 32

# convars which can be used in scripts
set temp_convar "hey world!"

##########################################################################################
################################  INFO SERVER, BANNER...  ################################
##########################################################################################

sv_hostname "[^2LA^5TAM^0][^5A^0R^5G^3^0]^3💖 Dinastia RP 💖^0 | ^1💂 ROL SERIO 💂^0| ^4📀 No Whitelist 📀^0 | ^2🚔Policia local🚔 ^0 ^3🦈+100 autos reales🦈^0 |[^1E^3S^1P^3][^5A^0R^5G^3^0][^2M^0E^1X^0][^0U^5R^0U][^1P^0E^1R^0] | ^5https://discord.gg/kPwZ33P^0 | ^1 POP LEGACY ^0| "
sets tags "roleplay, secondlife, gtav.es, gtav, esp, arg, urug, bol, esx, cars, police, ems, jobs, latino, c, secondlife, gtav.es, gtav, esp, arg, urug, bol, esx, cars, police, ems, jobs, latino, custom scripts, rp serieux, lspd, discord, reallife mexi, drogas, armas, dinero, poustom scripts, rp serieux, lspd, discord, reallife mexi, drogas, armas, dinero, pobreza, negocios, drogas, popular, mafias, rol, rolear, rolelife, los santos, latino, bolivia, peru, argentina, uruguay, paraguay,"
sets locale "es-AR"
sets fundador "TitaN & BillyNet"
sets programador "BillyNet"
# sets discord "https://discord.gg/ayJygB"

# Loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png
# sets banner_connecting "https://media.discordapp.net/attachments/712302626787819600/717875159960125440/image0.png"
# sets banner_detail "https://media.discordapp.net/attachments/712302626787819600/720108455477903461/image0.gif"



##########################################################################################
#######################################  RESOURCES  ######################################
##########################################################################################
# Nested configs!
#exec server_internal.cfg
